:root {
    /* empty */
}

.headline {
    color: brown;
    font-family: 'Helvetica';
}

.page-container {
    background: no-repeat url('images/aikido_clipart2.jpg');
    background-position-x: right;
}
