:root {
    /* empty */
}

.headline {
    color: brown;
}

.aikido-text, .aikikai-logo {
    animation: 3s 1 normal slidein;
}

@keyframes slidein {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }